
/* Main */
.main{
    width: 100%;
    max-width: 1500px;
}


/* mais vendidos box */

.all-games{
    bottom: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.all-games h2 {
    color: #f7f6f6
}

.box-games{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.game-input{
    font-weight: bold;
    color: white
}

.game-content {
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem;
}

.game-img img{
    height: 367px;
    width: 275px;
    cursor: pointer;
    
}

.game-img {
    transition: .4s ease-in-out;
}
.game-img:hover {
    
    transform: scale(1.1);
}


.game-name{
    text-align: center;
}

.button {
    margin: 2rem;
}

.triangle-buttons{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-self: center;
}

.triangle-next{
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid white;
    margin-left: 2rem;
    cursor: pointer;
}

.triangle-prev{
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    border-right:25px solid white; 
    margin-right: 2rem;
    cursor: pointer;
}