
html{   
    /* 16 px = font padrao do navegador */
    font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
}

body{
    font: 1.6rem Helvetica;
    margin: 0;
    height: 100vh;
    background-color: #272727;
}

#root{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 1500px;
}

.header{
    display: flex;
    align-items: center;
    /* background-color: #18b4f1; */

    background-image: linear-gradient(#067eca, #18b4f1);
    height: 6rem;
}

.navbar-logo{
    height: 4rem;
    display: flex;
    align-items: center;
}

.navbar-links ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-links li{
    padding-left: 15px;
    font-weight: bold;
    color: #464646;
    text-decoration: none;
}

.navbar-links li:hover{
    color: #282d65;
    cursor: pointer;
}

.navbar-input{
    display: flex;
    width: 45%;
    margin-left: auto;
}

.navbar-input input{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.navbar-input img{
    margin-left: 5px;
    cursor: pointer;
}

.rigth{
    margin-left: auto;
    padding-right: 20px;
}

.navbar-icon-close{
    position: fixed;
    display: none;
}

.navbar-ul-below{
    align-items: center;
}

.shopping-car{
    display: flex;
    cursor: pointer;
    margin-right: 2rem;
    margin-left: 2rem;
    opacity: 0.7;
}
.items-in-car{
    color: white;
    opacity: .9;
    border-radius: 50%;
    padding: .5rem;
    background-color: #282d65;
}

.items-in-car:hover{   
    opacity: 1;
}

/* navbar mobile */

@media screen and (max-width: 1057px) {
    .navbar-logo img{
        width: 12rem;
        height: 3rem;
    }

    .navbar-links{
        z-index: 1;
    }

    .navbar-links ul{
        display: block;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 20rem;   
        transition: all .4s ease-in-out
    }

    .navbar-hide{
        transform: translateX(20rem);
    }

    .navbar-show{
        transform: translateX(0rem);
    }

    .navbar-links li{
        padding-top: 1rem;
        cursor: pointer;
    }

    .above ul{
        background-color: #067eca;
        padding-top: 6rem;
        
    }
    .below ul{
        margin-top: 12rem;
    }

    .mobileview{
        cursor: pointer;
    }

    .line{
        margin-left: 2rem;
        margin-right: 2rem;
        width: 3rem;
        height: .2rem;
        margin-bottom: .5rem;
        margin-top: .5rem;
        border-radius: 50%;
        background-color: black;
    }

    .closeNavBar{
        display: block;
        right: 0;
        z-index: 100;
        margin-right: 1rem;
        cursor: pointer;

    }

    .navbar-input{
        width: 60%;
    }
    .navbar-logo{
        margin-right: 2rem;
    }
    
    .shopping-car{
        margin-left: 1rem;
        margin-top: 1rem;
    }

}

@media screen and (max-width: 380px) {
    .navbar-input img{
        display: none;
    }

    .navbar-logo img{
        width: 10rem;
        height: 3rem;
    }
}


/* footer */

.footer{
    width: 100%;
    background-image: linear-gradient(#18b4f1, #067eca);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    max-width: 1500px;
    font-size: 1.1rem;
}

.footer p {
    text-align: center;
}