
/* Main */
.main{
    width: 100%;
    max-width: 1500px;
}
a{
    cursor: default;
}


/* filter */

.product-categories{
    display: flex;
    justify-content: space-evenly;
    background-color: azure;
    margin-bottom: 3rem;
}

.product-categories a {
    width: 100%;
    color: #0f0e0e;
}

.category{
    display: flex;
    width: 100%;
    transition: all .2s ease-in-out;
    justify-content: center;
}

.product-categories a:hover{
    background-color: #adb9d2;;
    color:#282d65;
    cursor: pointer;
    
}
/* mais vendidos box */

.all-products{
    bottom: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.all-products h2 {
    color: #f7f6f6
}

.box-products{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}


.product-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 2.5rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.product-img img{
    height: 220px;
    width: 275px;
    transition: .3s ease-in-out;
}

.product-img img:hover{
    transform: scale(1.1);
}

.product-name, .product-price {
    margin-bottom: 1rem;
}

.triangle-buttons{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-self: center;
}

.triangle-next{
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid white;
    margin-left: 2rem;
    cursor: pointer;
}

.triangle-prev{
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
    border-right:25px solid white; 
    margin-right: 2rem;
    cursor: pointer;
}