
.product-main-content{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-info-content{
    display: flex;
    flex: 2;    
    margin-top: 2rem;
}

.buy-product-image{
    background-color: white;
}
.buy-product-image img {
    margin: 2rem;
    width: 25rem;
}
.buy-product-details{
    background-color: white;
    flex: 1;
}

.buy-product-actions{
    margin-top: 2rem;
    background-color: #fbfef9;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;   
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 1;
}

.buy-product-actions h3{
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
}
.buy-product-qty{
    padding-top: 1rem;
}

.buy-product-price{
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

.buy-product-actions button{
    width: 100%;
    margin-top: auto;
    margin-bottom: 5rem;
    background-color: #5254a7; /* Green */
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2rem;
    transition-duration: 0.3s;
    margin-bottom: 3rem;
}

.buy-product-actions button:hover {
    -webkit-transition-duration: 0.4s; /* Safari */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buy-product-description p {
    margin-left: 2rem;
    margin-right: 2rem;
}